.loginForm {
    width: 24em;
    margin: 4em auto;
    padding: 0;
    align-self: center;
    text-align: center;
    vertical-align: middle;
    max-width: 80vw;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.formContainer {
    padding: 20px;
}
